@charset "utf-8";
/* CSS Document */

.title12 {
	font-family: "Courier New", Courier, monospace;
	font-size: 36px;
	font-style: normal;
	font-weight: bold;
	background-image: url(../picture/src=http___pic.616pic.com_ys_bnew_img_00_16_31_MkyI3uzF03.jpg&refer=http___pic.616pic.jpg);
}
